.cms-content.DashboardAdmin .dashboard-panel.update-panel {
	margin: -16px 0 20px 0;
	border-radius: 0;
	padding: 0;
}

.cms-content.DashboardAdmin .dashboard-panel.update-panel .panel-head {
	padding-top: 16px;
	padding-bottom: 16px;
	cursor: pointer;
	position: relative;
}

.cms-content.DashboardAdmin .dashboard-panel.update-panel .panel-body {
	display: none;
	padding-top: 16px;
	padding-bottom: 16px;
	background: #f9f9f9;
}

.cms-content.DashboardAdmin .dashboard-panel.update-panel.open .read-more-link {
	display: none;
}

.cms-content.DashboardAdmin .dashboard-panel.update-panel .fa-exclamation-triangle {
	margin-right: 10px;
}

.cms-content.DashboardAdmin .dashboard-panel.update-panel .fa-chevron-right {
	position: absolute;
	top: 14px;
	right: 16px;
	font-size: 20px;
}

.cms-content.DashboardAdmin .dashboard-panel.update-panel.open .fa-chevron-right {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
