/**************************************************************************
 *
 ****** gridbase - lightweight css responsive grid system *******
 *
 * Modified for the dashboard module.
 *
 **************************************************************************/

.cms-content.DashboardAdmin .container:before,
.cms-content.DashboardAdmin .container:after,
.cms-content.DashboardAdmin .row:before,
.cms-content.DashboardAdmin .row:after,
.cms-content.DashboardAdmin .clear:before,
.cms-content.DashboardAdmin .clear:after {
    content: " ";
    display: table;
}
.cms-content.DashboardAdmin .container:after,
.cms-content.DashboardAdmin .row:after,
.cms-content.DashboardAdmin .clear:after {
    clear: both;
}
@media all and (min-width: 768px) and (max-width: 992px) {
    .cms-content.DashboardAdmin .container {
        width: 750px;
    }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
    .cms-content.DashboardAdmin .container {
        width: 970px;
    }
}
@media all and (min-width: 1200px) {
    .cms-content.DashboardAdmin .container {
        width: 1170px;
    }
}
.cms-content.DashboardAdmin .container,
.cms-content.DashboardAdmin .container-fluid {
    margin-right: auto;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cms-content.DashboardAdmin .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.cms-content.DashboardAdmin .col-1,
.cms-content.DashboardAdmin .col-2,
.cms-content.DashboardAdmin .col-3,
.cms-content.DashboardAdmin .col-4,
.cms-content.DashboardAdmin .col-5,
.cms-content.DashboardAdmin .col-6,
.cms-content.DashboardAdmin .col-7,
.cms-content.DashboardAdmin .col-8,
.cms-content.DashboardAdmin .col-9,
.cms-content.DashboardAdmin .col-10,
.cms-content.DashboardAdmin .col-11,
.cms-content.DashboardAdmin .col-12 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cms-content.DashboardAdmin .col-1 {
    width: 8.33333%;
}
.cms-content.DashboardAdmin .off-1 {
    margin-left: 8.33333%;
}
.cms-content.DashboardAdmin .col-2 {
    width: 16.66667%;
}
.cms-content.DashboardAdmin .off-2 {
    margin-left: 16.66667%;
}
.cms-content.DashboardAdmin .col-3 {
    width: 25%;
}
.cms-content.DashboardAdmin .off-3 {
    margin-left: 25%;
}
.cms-content.DashboardAdmin .col-4 {
    width: 33.33333%;
}
.cms-content.DashboardAdmin .off-4 {
    margin-left: 33.33333%;
}
.cms-content.DashboardAdmin .col-5 {
    width: 41.66667%;
}
.cms-content.DashboardAdmin .off-5 {
    margin-left: 41.66667%;
}
.cms-content.DashboardAdmin .col-6 {
    width: 50%;
}
.cms-content.DashboardAdmin .off-6 {
    margin-left: 50%;
}
.cms-content.DashboardAdmin .col-7 {
    width: 58.33333%;
}
.cms-content.DashboardAdmin .off-7 {
    margin-left: 58.33333%;
}
.cms-content.DashboardAdmin .col-8 {
    width: 66.66667%;
}
.cms-content.DashboardAdmin .off-8 {
    margin-left: 66.66667%;
}
.cms-content.DashboardAdmin .col-9 {
    width: 75%;
}
.cms-content.DashboardAdmin .off-9 {
    margin-left: 75%;
}
.cms-content.DashboardAdmin .col-10 {
    width: 83.33333%;
}
.cms-content.DashboardAdmin .off-10 {
    margin-left: 83.33333%;
}
.cms-content.DashboardAdmin .col-11 {
    width: 91.66667%;
}
.cms-content.DashboardAdmin .off-11 {
    margin-left: 91.66667%;
}
.cms-content.DashboardAdmin .col-12 {
    width: 100%;
}
.cms-content.DashboardAdmin .off-12 {
    margin-left: 100%;
}

@media all and (max-width: 1440px) {
    .cms-content.DashboardAdmin .col-1,
    .cms-content.DashboardAdmin .col-2,
    .cms-content.DashboardAdmin .col-3 {
        width: 25%;
    }
    .cms-content.DashboardAdmin .off-1,
    .cms-content.DashboardAdmin .off-2,
    .cms-content.DashboardAdmin .off-3 {
        margin-left: 25%;
    }
    .cms-content.DashboardAdmin .col-4,
    .cms-content.DashboardAdmin .col-5,
    .cms-content.DashboardAdmin .col-6 {
        width: 50%;
    }
    .cms-content.DashboardAdmin .off-4,
    .cms-content.DashboardAdmin .off-5,
    .cms-content.DashboardAdmin .off-6 {
        margin-left: 50%;
    }
    .cms-content.DashboardAdmin .col-7,
    .cms-content.DashboardAdmin .col-8,
    .cms-content.DashboardAdmin .col-9 {
        width: 75%;
    }
    .cms-content.DashboardAdmin .off-7,
    .cms-content.DashboardAdmin .off-8,
    .cms-content.DashboardAdmin .off-9 {
        margin-left: 75%;
    }
    .cms-content.DashboardAdmin .col-10,
    .cms-content.DashboardAdmin .col-11,
    .cms-content.DashboardAdmin .col-12 {
        width: 100%;
    }
    .cms-content.DashboardAdmin .off-10,
    .cms-content.DashboardAdmin .off-11,
    .cms-content.DashboardAdmin .off-12 {
        margin-left: 100%;
    }
}

@media all and (max-width: 1024px) {
    .cms-content.DashboardAdmin .col-1,
    .cms-content.DashboardAdmin .col-2,
    .cms-content.DashboardAdmin .col-3,
    .cms-content.DashboardAdmin .col-4,
    .cms-content.DashboardAdmin .col-5,
    .cms-content.DashboardAdmin .col-6,
    .cms-content.DashboardAdmin .col-7,
    .cms-content.DashboardAdmin .col-8,
    .cms-content.DashboardAdmin .col-9,
    .cms-content.DashboardAdmin .col-10,
    .cms-content.DashboardAdmin .col-11,
    .cms-content.DashboardAdmin .col-12 {
        float: none;
        width: 100%;
    }
    .cms-content.DashboardAdmin .off-1,
    .cms-content.DashboardAdmin .off-2,
    .cms-content.DashboardAdmin .off-3,
    .cms-content.DashboardAdmin .off-4,
    .cms-content.DashboardAdmin .off-5,
    .cms-content.DashboardAdmin .off-6,
    .cms-content.DashboardAdmin .off-7,
    .cms-content.DashboardAdmin .off-8,
    .cms-content.DashboardAdmin .off-9,
    .cms-content.DashboardAdmin .off-10,
    .cms-content.DashboardAdmin .off-11,
    .cms-content.DashboardAdmin .off-12 {
        margin-left: auto;
    }
}
